#bar{
    background-color: rgb(160, 160, 221);
    display: flex;
    justify-content: space-between;
}

#personalinformation{
    color: white;
}

#greeting{
    font-size: 20px;
    color: blueviolet;
}

#selfintroduction{
    color: black;
}

#introduction{
    display: flex;
    flex-direction: row;
}

.menuitems{
    padding: 5px;
    color: white;
}

.menuitems:hover{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
}

#skills{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.skill{
    border: 1px solid black;
    width: 20%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px; 
    box-shadow: 5px 5px 15px 5px #d3d0d0;
}

.skill .icon{
    width: 30px;
}
